---
import githubIconSvg from '../icons/icons8-github.svg';
import linkedinIconSvg from '../icons/icons8-linkedin.svg';
---

<header class="h-14 px-10 bg-[#202031] text-right text-zinc-300 flex justify-between items-center">
    <h5 class="font-mono bg-[#1a1a27] h-full flex items-center px-4 gap-x-10 rounded-t">
        ~/profile
        <span class="w-4 h-4 flex items-center justify-center bg-white/30 rounded-full text-[#333147] text-sm">
            x
        </span>
    </h5>
    <ul class="flex items-center gap-x-4">
        <li>
            <a href="https://github.com/michaelcardoza" target="_blank" class="w-8 block">
                <img src={githubIconSvg.src} alt="Michael Cardoza - GitHub" class="w-full" />
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/michaelcardozam/" target="_blank" class="w-8 block">
                <img src={linkedinIconSvg.src} alt="Michael Cardoza - LinkedIn" class="w-full" />
            </a>
        </li>
    </ul>
</header>
